.container-left {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    width: 50%;
    background-color: #BA0C25;
    display: flex; /* Change display to flex */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    height: 100vh;
    box-sizing: border-box;
}

.image {
    display: block; /* Ensure the image is a block element */
    margin: 0; /* Reset margin */
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.login-form {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    /* Center the form both vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

    .login-form h1 {
        margin-bottom: 20px;
    }

.input-container {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#category {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background: #BA0C25;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-links {
    margin-top: 20px;
    margin-left: 25px;
}

.signup-link, .forgot-link {
    color: #BA0C25;
    margin-right: 1px;
    text-decoration: none;
    transition: color 0.3s;
    border: 1px solid #BA0C25;
    padding: 5px 10px;
    border-radius: 5px;
}

    .signup-link:hover, .forgot-link:hover {
        background-color: #BA0C25;
        color: white;
    }
